<h1 id="lecture-ice-age-dynamics">Lecture Ice-age dynamics</h1>
<p>This course material is used alongside the Ice-age dynamics lecture from the M.Sc. Geological Sciences at the Freie Universität Berlin.</p>
<h2 id="getting-started">Getting Started</h2>
<h2 id="contents">Contents</h2>
<ul>
<li>data - data files as examples</li>
<li>*.ipynb - jupuyter notebook</li>
</ul>
<h2 id="download">Download</h2>
<pre><code>git clone https://github.com/georgkaufmann/iceage.git</code></pre>
<h2 id="run-interactively-with-binder">Run interactively with binder</h2>
<p><a href="https://mybinder.org/v2/gh/georgkaufmann/iceage.git/master?filepath=index.ipynb"><img src="https://mybinder.org/badge_logo.svg" alt="Binder" /></a></p>
<h2 id="versioning">Versioning</h2>
<p>We use <a href="https://git-scm.com/">Git</a> for versioning.</p>
<h2 id="authors">Authors</h2>
<ul>
<li><strong>Georg Kaufmann</strong> - <em>Initial work</em> - <a href="http://userpage.fu-berlin.de/~geodyn">Georg Kaufmann</a></li>
</ul>
<div class="figure">
<img src="fu-logo.jpg" height="37" />

</div>
<h2 id="license">License</h2>
<p>This project is licensed for classroom use only.</p>
<h2 id="acknowledgments">Acknowledgments</h2>
